.app-header {
    border-bottom: 1px solid rgb(106, 106, 106);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.app-header-logo {
    display: block;
    height: 90px;
}